<div class="container">  

  <h1>Hello <%= @user.name %></h1>

  <p>
    <a href="/game_create">Add Games</a>
    <br />
    <a href="/game_library">Game Library</a>
    <br />
    <a href="/game_search">Search Games</a>
    <br />
    <a href="/logout_user/<%= @user.id %>">Log Out</a>
  </p>

</div>