<div class="container">

  <h1>Add Games</h1>

  <ul class="nav nav-tabs">
    <li role="presentation"><a href="/admin_home">Back</a>
    <li role="presentation" class="active"><a href="">Add Games</a>
    <li role="presentation"><a href="/game_library">Game Library</a>
    <li role="presentation"><a href="/game_search">Search Games</a>
    <li role="presentation"><a href="/logout_user/<%= @user.id %>">Log Out</a>
    </li>
  </ul>

  <br />

  <p>
    <form action="/process_game_create" method="post">
    <fieldset>

      Title:
      <br />
      <input type="text" name="title" required>
      <br />
      Genre:
      <br />
      <select name="genre" class="custom-select" required>
        <option disabled hidden selected>...</option>
        <option value="Conquest">Conquest</option>
        <option value="Word">Word</option>
        <option value="Adventure">Adventure</option>
        <option value="Negotiation">Negotiation</option>
        <option value="Memory">Memory</option>
        <option value="Trivia">Trivia</option>
      </select>
      <br />
      Age Group:
      <br />
      <select name="age_group" class="custom-select" required>
        <option disabled hidden selected>...</option>
        <option value="8">8+</option>
        <option value="10">10+</option>
        <option value="12">12+</option>
        <option value="13">13+</option>
        <option value="14">14+</option>
        <option value="18">18+</option>
      </select>
      <br />
      Minimum Player Count:
      <br />
      <select name="min_players" class="custom-select" required>
        <option disabled hidden selected>...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
      </select>
      <br />
      Maximum Player Count:
      <br />
      <select name="max_players" class="custom-select">
        <option disabled hidden selected>...</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="">Any</option>
      </select>
      <br />
      Description:
      <br />
      <input type="text" name="description" required>
      <br />
      Minimum Play Time:
      <div class="row">
        <div class="col-xs-2">
          <div class="input-group">
            <input type="text" class="form-control" name="min_playtime" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">minutes</span>
          </div>
        </div>
      </div>
      Maximum Play Time:
      <div class="row">
        <div class="col-xs-2">
          <div class="input-group">
            <input type="text" class="form-control" name="max_playtime" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">minutes</span>
          </div>
        </div>
      </div>
      Publisher:
      <br />
      <input type="text" name="publisher" required>
      <br />
  <!--     Price:
      <br />
      <input type="text" name="price" required>
      <br /> -->
      <br />
        <button type="submit" class="btn btn-sm btn-default">Add Game</button>
    </fieldset>
    </form>
  </p>

</div>