<h1>Game Library</h1>

  <% if @user.name == "admin" %>
    <a href="/admin_home">Back</a>
    <br />
    <a href="/game_create">Add Games</a>
    <br />
  <% else %>
    <a href="/user_profile">Your Profile</a>
    <br />
  <% end %>
    <a href="/game_search">Search Games</a>

<% @games.each do |game| %>
  <p>
  <ul>
    <li><a href="/game_profile/<%= game.id %>"><%= game.title %></li>
  </ul>

  <% if @user.name == "admin" %>
    <a href="/game_update/<%= game.id %>">update</a>
    <a href="/games_delete/<%= game.id %>">delete</a>
  <% else %>
  <% end %>
  </p>
<% end %>