<h1>Game Search</h1>

<p>
  <a href="/game_library">Game Library</a>
  <br />
  <a href="/user_profile">Your Profile</a>
  <br />
  <a href="/logout_user/<%= @user.id %>">Log Out</a>
</p>

<p>
  <form action="/process_game_search" method="post">
  <fieldset>
    <legend><strong>Search:</strong></legend>

    Title:
    <br />
    <input type="text" name="title">
    <br />
    Genre:
    <br />
    <select name="genre">
      <option value="" hidden selected>Choose a genre...</option>
      <option value="Conquest">Conquest</option>
      <option value="Word">Word</option>
      <option value="Adventure">Adventure</option>
      <option value="Negotiation">Negotiation</option>
      <option value="Memory">Memory</option>
      <option value="Trivia">Trivia</option>
    </select>
    <br />
    Age Group:
    <br />
    <select name="age_group">
      <option value="" hidden selected>Choose an age group...</option>
      <option value="8">8+</option>
      <option value="10">10+</option>
      <option value="12">12+</option>
      <option value="14">14+</option>
    </select>
    <br />
    Minimum Player Count:
    <br />
    <select name="min_players">
      <option value="" hidden selected>Choose minimum players...</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
    </select>
    <br />
    Maximum Player Count:
    <br />
    <select name="max_players">
      <option value="" hidden selected>Choose maximum players...</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="">Any</option>
    </select>
    <br />
    Play Time (mins.):
    <br />
    <input type="text" name="play_time">
    <br />
    <p>
    <input type="submit" value="Search Game">
    </p>
  </fieldset>
  </form>
</p>

<!--Will need to figure out how to print search results here later-->
<!-- <h3>Game Search Result</h3>

<% @game.each do |game| %>
  <%= game.title %>
  <br />
<% end %> -->