<h1>Update Your Profile, <%= @user.name %></h1>

<p>
    <a href="/user_profile">Back</a>
</p>

<p>
  <form action="/process_user_update_form" method="post">
    Name:
    <br />
    <input type="text" name="name" placeholder="<%= @user.name %>" required>
    <br />

    Date of Birth:
    <br />
    <input type="date" name="dob" value="<%= @user.dob %>" required>
    <br />
    
    Email:
    <br />
    <input type="text" name="email" placeholder="<%= @user.email %>" required>
    <br />

    Old Password:
    <br />
    <input type="password" name="old_password" required>
    <br />

    New Password:
    <br />
    <input type="password" name="old_password" required>
    <br />

    <input type="submit" value="Update">
  </form>
</p>