<h1>Hello, <%= @user.name %></h1>

<p>
  User Name:
  <br />
  <%= @user.name %>
  <br />
  Email:
  <br />
  <%= @user.email %>
  <br />
  Date of Birth:
  <br />
  <%= @user.dob %>
  <br />
</p>

<p>
  <a href="/user_update">update</a>
</p>