<h1>Update Your Profile, <%= @user.name %></h1>

<p>
  <form action="/process_user_update_form" method="post">
    Name:
    <br />
    <input type="text" name="name" required>
    <br />

    Date of Birth:
    <br />
    <input type="date" name="dob" required>
    <br />
    
    Email:
    <br />
    <input type="text" name="email" required>
    <br />

    Password:
    <br />
    <input type="password" name="password" required>
    <br />

    <input type="submit" value="Update">
  </form>
</p>