<div class="container">

    <h1>New User</h1>

    <p>
      <a href="/">Back</a>
    </p>

    <p>
      <form action="/user_create_form" method="post">
        Name:
        <br />
        <input type="text" name="name" required>
        <br />

        Date of Birth:
        <br />
        <input type="date" name="dob" required>
        <br />
        
        Email:
        <br />
        <input type="text" name="email" required>
        <br />

        Password:
        <br />
        <input type="password" name="password" required>
        <br />

        <input type="submit" value="Sign Up">
      </form>
    </p>

</div>