<div class="container">

  <h1>Speilbound Smart Search</h1>

  <h3>Please Log In Below</h3>

  <p>
    <form action="/user_login_form" method="post">
     <!--  Email:
      <br />
      <input type="text" name="email" required>
      <br /> -->

    <div class="input-group">
      <input type="text" name="email" class="form-control" placeholder="Your email address" aria-describedby="basic-addon2" required>
      <span class="input-group-addon" id="basic-addon2">example@example.com</span>
    </div>

<!--       Password: -->
<!--       <br />
      <input type="password" name="password" required>
      <br /> -->
    <br />
    <div class="input-group">
      <input type="password" name="password" class="form-control" placeholder="Your password" aria-describedby="basic-addon2" required>
      <!-- <span class="input-group-addon" id="basic-addon2">example@example.com</span> -->
    </div>

    <br />
      <button type="submit" class="btn btn-sm btn-default">Log In</button>
    </form>
  </p>

  <p>
    New User?
    <br />
    <a href="/user_create">Create Profile</a>
  </p>

</div>